/* font-size style */

.fs-15 {
   font-size: 0.94rem;
}
.fs-16 {
   font-size: 1rem;
}
.fs-20 {
    font-size: 1.25rem;
 }
 .fs-24 {
    font-size: 1.5rem;
 }
 .fs-26 {
    font-size: 1.63rem;
 }
 .fs-32 {
    font-size: 2rem;
 }
 .fs-42 {
    font-size: 2.63rem;
 }
 .fs-46 {
    font-size: 2.88rem;
 }
 .fs-56 {
    font-size: 3.5rem;
 }
 /* font-weight style */
 .fw-b {
    font-weight: bold;
 }
 .fw-sb {
    font-weight: semibold;
 }
 .fw-m {
    font-weight: medium;
 }
 .fw-rg {
    font-weight: regular;
 }
 /* font-color style */
 .fc-o {
    color: orange;
 }
 .fc-sb {
    color: skyblue;
 }
 .fc-gb {
    color: #05D4DF;
 }
 .fc-lb {
    color: #5D58EF;
 }
 .fc-lb2 {
    color: #64C8FF;
 }
 .fc-lo { 
    color: #F0AA00;
 }
 .fc-v { 
    color: #8700FF;
 }
 .fc-ash { 
    color: #808080;
 }
 .fc-lash { 
    color: #666666;
 }
 .fc-20 {
    color: #202020;
 }
 /* background-color style */
 .bg-orange {
    background-color: orange;
 }
 .bg-sky-blue {
    background-color: skyblue;
 }
 .bg-black {
    background-color: #000000;
 }
 .bg-green-blue {
    background-color: #3CD8E8;
 }
 .bg-olive {
    background-color: #95B226;
 }
 .bg-l-blue { 
    background-color: #5D58F0;
 }
 .bg-lv { 
    background-color: #8700FF;
 }
 .bg-lash { 
    background-color: #808080;
 }

 

