*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
}
.tab-only-d {
display: none;
}
.mobile-only {
display: none;
}
/* Sheared styles */
.dis-flex {
  display: flex;
}
.jc-ac {
  justify-content: center;
  align-items: center;
}
.abc {
  color: white;
}

/* Header styles */
.header {
   padding: 20px 140px 40px 140px;
  justify-content: space-between;
  align-items: center;
 
}
.option {
  justify-content: center;
  list-style-type: none;
  gap: 32px;
}
.option>li>a {
text-decoration: none;
}
.btn-contact {
  padding: 10px 60.5px;
  border: none;
  border-radius: 12px;
  background-color: Orange;
  cursor: pointer;
}

.burger {
  background-color: #000000;
  height: 4px;
  width: 100%;
  border-radius: 5px;
}
.glow {
  background-color: tomato; 
  height: 50px;            
  width: 100%;             
  color: black;           
  font-size: 20px;        
  font-weight: bold;     
  text-align: center;      
  line-height: 50px;       
  text-shadow: 0 0 10px #fff, 0 0 20px #ff4d4d; 
}
.kid {
  background-color:rgb(232, 248, 7);
  color: blue;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
}
.enroll {
  background-color:rgb(123, 251, 130);
  color:rgb(45, 11, 2);
  padding: 50px 20px;
}


/* Banner styles */
.banner {
 padding: 60px 140px 80px 140px;
}
.btn-2 {
 padding: 10px 60.5px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  color: white;
}
.banner-text {
 padding: 20px 0;
}
.bnnaer-container {
 justify-content: space-between;
 align-items: center;
}


/* Curriculum section style */
.curriculum {
 background-image: url('../images/bg.png');
  text-align: center;
  padding: 0 140px 80px 140px;
}
.curriculum-title, .text2, 
.curriculum-container, {
 padding-top: 80px;
}
.curriculum-container {
 gap: 30px;
 justify-content: space-around;
 
}
.card-box {
 max-width:368px;
 max-height: 477px;
 padding: 60px 0;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center; 
 gap: 30px;
 border-radius: 19px;
}
.card-box>a {
 text-decoration: none;
}

.box-bg1 {
 background: linear-gradient(to bottom, #e2fafd 20%, #ffffff 80%);
}
.box-bg2 {
 background: linear-gradient(to bottom, #FFF4DC 20%, #ffffff 80%);
}
.box-bg3 {
 background: linear-gradient(to bottom, #F2E8FF 20%, #ffffff 80%);
}
.curriculum-container {
 padding-top: 80px;
}
.btn-angle {
 width: 40px;
 height: 40px;
 background-color: orange;
 border-radius: 50%;
 border: none;
 cursor: pointer;
 color: white;
} 


/* stories section */
.stories {
 display: inline-block;
 gap: 5rem;
 text-align: center;
 padding: 0 140px 80px 140px;
 background-image:linear-gradient(to top, rgb(244, 219, 173), rgba(255, 255, 255, 100)), url('../images/bg.png');
 background-blend-mode: overlay;  
}
.story-container {
 gap: 20px;
 justify-content: space-between;
 align-items: center;
 padding: 80px 0 40px 0;
}
.story-box {
padding-bottom: 20px;
text-align: left;
border-radius: 12px;
background-color: #ffffff;
}
.story-img1, .story-img2 {
width:100%;
height:auto;
object-fit: cover;
border-radius:  12px 12px 0 0;
}
.story-box2 {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 20px;
}
.story-box-mini {
gap: 20px;
padding-bottom: 30px;
border-radius: 12px;
text-align: left;
background-color: #ffffff;
}
.btn-3 {
 padding: 10px 20px;
 border: none;
 border-radius: 20px;
 cursor: pointer;
 color: white;
}
.btn-date {
 position: relative;
 top: -25px;
 left: 20px;
}
.pad-left {
 padding: 0 0 10px 20px;
 line-height: 20px;
}
.pad-exta {
 padding: 35px 0 35px 20px;
 line-height: 30px;
}

/* Footer styles */
.footer {
 padding: 80px 140px 80px 140px;
 background-color: #01ACFD;
 color: white;
 justify-content: space-between;
}
.short {
 gap: 15px;
}
.about>ul>li, .footer-logo>.short,
.about-title, .toutch>h3 {
 padding-bottom: 20px;
}
.about>ul>li {
 list-style: none;
}
.about>ul>li>a {
 text-decoration: none;
 color: white;
}
.all-btn1:hover {
  background-color:rgb(179, 124, 251);
  color: black;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  padding: 5px 5px;
}
.all-btn:hover {
  background-color: #ffffff;
  color: black;
}
.all-btn3:hover {
  background-color:rgb(1, 29, 28);
  color: #ffffff;
}




